.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(249, 249, 255);
    background: linear-gradient(
      112deg,
      rgba(249, 249, 255, 1) 20%,
      rgba(249, 249, 255, 1) 37%,
      rgba(214, 214, 241, 0.8183648459383753) 78%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form label {
    margin-bottom: 0.5rem;
  }
  
  .form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    background: #fff;
    background-color: #fff;
    border-radius: 5px;

  }
  
  .form button {
    padding: 0.5rem 1rem;
    background: #fff;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .message {
    font-weight: bold;
    margin-top: 1rem;
  }
  